/* Created using: pygmentize -S native -f html -a '[data-theme="dark"] .codehilite' > pygments-dark.css */

/* pre { line-height: 125%; }
td.linenos .normal { color: #aaaaaa; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #aaaaaa; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; } */
[data-theme="dark"] .codehilite .hll { background-color: #404040 }
/* [data-theme="dark"] .codehilite { background: #202020; color: #d0d0d0 } */
[data-theme="dark"] .codehilite .c { color: #999999; font-style: italic } /* Comment */
[data-theme="dark"] .codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
[data-theme="dark"] .codehilite .esc { color: #d0d0d0 } /* Escape */
[data-theme="dark"] .codehilite .g { color: #d0d0d0 } /* Generic */
[data-theme="dark"] .codehilite .k { color: #6ab825; font-weight: bold } /* Keyword */
[data-theme="dark"] .codehilite .l { color: #d0d0d0 } /* Literal */
[data-theme="dark"] .codehilite .n { color: #d0d0d0 } /* Name */
[data-theme="dark"] .codehilite .o { color: #d0d0d0 } /* Operator */
[data-theme="dark"] .codehilite .x { color: #d0d0d0 } /* Other */
[data-theme="dark"] .codehilite .p { color: #d0d0d0 } /* Punctuation */
[data-theme="dark"] .codehilite .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
[data-theme="dark"] .codehilite .cm { color: #999999; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .codehilite .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
[data-theme="dark"] .codehilite .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
[data-theme="dark"] .codehilite .c1 { color: #999999; font-style: italic } /* Comment.Single */
[data-theme="dark"] .codehilite .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
[data-theme="dark"] .codehilite .gd { color: #d22323 } /* Generic.Deleted */
[data-theme="dark"] .codehilite .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
[data-theme="dark"] .codehilite .gr { color: #d22323 } /* Generic.Error */
[data-theme="dark"] .codehilite .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
[data-theme="dark"] .codehilite .gi { color: #589819 } /* Generic.Inserted */
[data-theme="dark"] .codehilite .go { color: #cccccc } /* Generic.Output */
[data-theme="dark"] .codehilite .gp { color: #aaaaaa } /* Generic.Prompt */
[data-theme="dark"] .codehilite .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
[data-theme="dark"] .codehilite .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
[data-theme="dark"] .codehilite .gt { color: #d22323 } /* Generic.Traceback */
[data-theme="dark"] .codehilite .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
[data-theme="dark"] .codehilite .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
[data-theme="dark"] .codehilite .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
[data-theme="dark"] .codehilite .kp { color: #6ab825 } /* Keyword.Pseudo */
[data-theme="dark"] .codehilite .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
[data-theme="dark"] .codehilite .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
[data-theme="dark"] .codehilite .ld { color: #d0d0d0 } /* Literal.Date */
[data-theme="dark"] .codehilite .m { color: #3677a9 } /* Literal.Number */
[data-theme="dark"] .codehilite .s { color: #ed9d13 } /* Literal.String */
[data-theme="dark"] .codehilite .na { color: #bbbbbb } /* Name.Attribute */
[data-theme="dark"] .codehilite .nb { color: #24909d } /* Name.Builtin */
[data-theme="dark"] .codehilite .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
[data-theme="dark"] .codehilite .no { color: #40ffff } /* Name.Constant */
[data-theme="dark"] .codehilite .nd { color: #ffa500 } /* Name.Decorator */
[data-theme="dark"] .codehilite .ni { color: #d0d0d0 } /* Name.Entity */
[data-theme="dark"] .codehilite .ne { color: #bbbbbb } /* Name.Exception */
[data-theme="dark"] .codehilite .nf { color: #447fcf } /* Name.Function */
[data-theme="dark"] .codehilite .nl { color: #d0d0d0 } /* Name.Label */
[data-theme="dark"] .codehilite .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
[data-theme="dark"] .codehilite .nx { color: #d0d0d0 } /* Name.Other */
[data-theme="dark"] .codehilite .py { color: #d0d0d0 } /* Name.Property */
[data-theme="dark"] .codehilite .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
[data-theme="dark"] .codehilite .nv { color: #40ffff } /* Name.Variable */
[data-theme="dark"] .codehilite .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
[data-theme="dark"] .codehilite .w { color: #666666 } /* Text.Whitespace */
[data-theme="dark"] .codehilite .mb { color: #3677a9 } /* Literal.Number.Bin */
[data-theme="dark"] .codehilite .mf { color: #3677a9 } /* Literal.Number.Float */
[data-theme="dark"] .codehilite .mh { color: #3677a9 } /* Literal.Number.Hex */
[data-theme="dark"] .codehilite .mi { color: #3677a9 } /* Literal.Number.Integer */
[data-theme="dark"] .codehilite .mo { color: #3677a9 } /* Literal.Number.Oct */
[data-theme="dark"] .codehilite .sa { color: #ed9d13 } /* Literal.String.Affix */
[data-theme="dark"] .codehilite .sb { color: #ed9d13 } /* Literal.String.Backtick */
[data-theme="dark"] .codehilite .sc { color: #ed9d13 } /* Literal.String.Char */
[data-theme="dark"] .codehilite .dl { color: #ed9d13 } /* Literal.String.Delimiter */
[data-theme="dark"] .codehilite .sd { color: #ed9d13 } /* Literal.String.Doc */
[data-theme="dark"] .codehilite .s2 { color: #ed9d13 } /* Literal.String.Double */
[data-theme="dark"] .codehilite .se { color: #ed9d13 } /* Literal.String.Escape */
[data-theme="dark"] .codehilite .sh { color: #ed9d13 } /* Literal.String.Heredoc */
[data-theme="dark"] .codehilite .si { color: #ed9d13 } /* Literal.String.Interpol */
[data-theme="dark"] .codehilite .sx { color: #ffa500 } /* Literal.String.Other */
[data-theme="dark"] .codehilite .sr { color: #ed9d13 } /* Literal.String.Regex */
[data-theme="dark"] .codehilite .s1 { color: #ed9d13 } /* Literal.String.Single */
[data-theme="dark"] .codehilite .ss { color: #ed9d13 } /* Literal.String.Symbol */
[data-theme="dark"] .codehilite .bp { color: #24909d } /* Name.Builtin.Pseudo */
[data-theme="dark"] .codehilite .fm { color: #447fcf } /* Name.Function.Magic */
[data-theme="dark"] .codehilite .vc { color: #40ffff } /* Name.Variable.Class */
[data-theme="dark"] .codehilite .vg { color: #40ffff } /* Name.Variable.Global */
[data-theme="dark"] .codehilite .vi { color: #40ffff } /* Name.Variable.Instance */
[data-theme="dark"] .codehilite .vm { color: #40ffff } /* Name.Variable.Magic */
[data-theme="dark"] .codehilite .il { color: #3677a9 } /* Literal.Number.Integer.Long */
